<div class="mt-4">
    <div class="row">

        {{!-- ảnh bìa (thumbnail) --}}
        <div class="col-lg-3 ">
            {{#if manga.thumbnail}}
                {{!-- single-file chỉnh sửa form --}}
                <form action="/manga/{{manga.slug}}/single-upload" method="POST" enctype="multipart/form-data">
                    <div class="input-group mb-3 ">
                        <div class="form-group custom-file inputsinglefile">
                            <input type="file" name="single-file" class="custom-file-input" id="input-single-file"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Chỉnh sửa ảnh</label>
                        </div>
                        <div class="w-100"></div>
                        <button id="saveFile" type="submit" class="btn btn-primary btn-block mt-2">Lưu chỉnh sửa </button>
                    </div>
                </form> {{!-- /single-file chỉnh sửa form --}}

                {{#each manga.thumbnail}}
                    <div class="preview-images"></div>
                    <img class="thumbnailExisted" src="{{this.url}}"alt="img" width="100%" height="auto">
                {{/each}}

            {{else}}
            {{!-- single-file form --}}
            <form action="/manga/{{manga.slug}}/single-upload" method="POST" enctype="multipart/form-data">
                <div class="input-group mb-3 ">
                    <div class="form-group custom-file inputsinglefile">
                        <input type="file" name="single-file" class="custom-file-input" id="input-single-file"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Đăng ảnh</label>
                    </div>
                    <div class="w-100"></div>
                    <button type="submit" class="btn btn-primary btn-block mt-2">Lưu ảnh lại</button>
                </div>
            </form>
            {{!-- /single-file form --}}

            <div class="preview-images"></div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-danger">Bạn Chưa đăng ảnh bìa</p>
                    <h5 id="place-to-click" class="card-title text-info ">Nhấn ĐĂNG ẢNH để xem trước ảnh tại đây!!</h5>
                    {{!-- <p class="card-text">Bạn nên cập nhật ảnh bìa (thumbnail) !!</p> --}}
            
            
            
                </div>
            </div>
            {{/if}}
            <a class="btn btn-success mt-2 btn-block" href="#" role="button">Theo dõi</a>
            <p class="text-center"> <small> Có 94 người đang theo dõi </small></p>
           
        </div>
        {{!-- Mô tả (Description) --}}
        <div class="col-lg-9 container">
            <div class="row">
                <a class="btn btn-info m-3" onclick="goBack()" role="button" style="color: white;">Quay lại</a>
            </div>
            {{!-- row 1 col 2 --}}
            <div class="row-1-col-2">
                <div class="row ml-1">
                    <h3> {{ manga.title }} </h3>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <form class="mt-4" method="POST" action="/manga/{{manga.slug}}?_method=PUT " >
                            <div class="form-group">
                                <label for="title"> Tên truyện </label>
                                <input type="text" class="form-control" value="{{manga.title}}" id="title" name="title">
                            </div>
                        
                            <div class="form-group">
                                <label for="videoId"> tên khác </label>
                                <input type="text" class="form-control" value="" id="videoId" name="videoId">
                            </div>  

                            {{!-- <div class="form-group">
                                <label for="slug"> slug </label>
                                <input type="text" class="form-control" value="{{manga.slug}}" id="slug" name="slug">
                            </div>                    --}}
                        
                            <div class="form-group">
                                <label for="level"> Thể loại </label>
                                <input type="text" class="form-control" value="" id="level" name="level">
                            </div>
                        
                            <div class="form-group">
                                <label for="description"> Mô tả </label>
                                <textarea class="form-control" id="description" name="description">{{manga.description}}</textarea>
                            </div>                           

                            
                            <button type="submit" class="btn btn-primary">Lưu lại</button>
                        </form>
                    </div>
                </div>
            </div>
           
            
            
        </div>
<script>
    function goBack() {
        window.history.back();
    }
    document.addEventListener('DOMContentLoaded', function () {
        var existedThumbnail = $('.thumbnailExisted')
       
       // var dropdownFormButton = document.getElementById('dropdown-form-btn');
       // var dropdownForm = $('#dropdown-form');
        // var row1col2 = $('.row-1-col-2');

        //console.log(dropdownForm)
        //console.log(dropdownFormButton)

        //dropdownFormButton.onclick = function () {
           // dropdownForm.toggleClass("d-none");
            //row1col2.toggleClass("d-none");
            //$("#preview-truyentranh")
                //.toggleClass("d-none");
       // }
        let imagesPreview = function (input, placeToInsertImagePreview) {
            if (input.files) {
                let filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $($.parseHTML("<img>"))
                            .addClass("rounded mx-auto d-block")
                            .css({ "width": "100%", "height": "auto", "background-size": "cover" })
                            .attr("src", event.target.result)
                            .appendTo(placeToInsertImagePreview);
                    };
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };
        $("#input-single-file").on("change", function () {
                if (existedThumbnail) {
                    existedThumbnail.addClass("d-none"); 
                }
                imagesPreview(this, "div.preview-images");
                $(".card").addClass("d-none"); 
                $(".inputsinglefile").addClass("d-none"); 
                $("#saveFile").addClass("btn-success"); 
            }

        );

    });

</script>