<div class="mt-4">
    <div class="container">
        <a class="btn btn-info mb-4 " onclick="goBack()" role="button" style="color: white;">Quay lại</a>
        <div class="ml-3">
            <div class="row ">
                <a class="disable"> Kho truyện tranh</a>
                <a class="ml-3">
                    <span class="fa pr-2">&#xf101</span>
                    Thùng rác Truyện tranh</a>
            </div>
        </div>
        <a href="/me/stored/truyen-tranh"> Danh sách khóa học</a>
    </div>
    
   <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="1">#</th>
                <th scope="col" ></th>
                <th scope="col" ></th>
                <th scope="col" colspan="2">Tên truyện</th>  
                <th scope="col" colspan="2">Kho Chapter</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}      
            <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="chapterSlug[]" 
                            value="{{this.slug}}">
                        </div>
                    </td>
                                {{!-- mySum a + b --}}
                    <th scope="row">{{mySum @index 1}}</th>
                    
                    {{!--       ảnh         --}}
                    {{#each thumbnail}}
                    <td style="width: 30%;"> <img src="{{this.url}}"alt="không có ảnh thumbnail" width="30%" height="auto" > </td>
                    {{/each}}
                    
                    {{!--   tên truyện      --}}
                 
                    <td colspan="2"> <a href="/courses/{{this.slug}}"> {{this.title}} </a> </td>
                    {{!--   chapter       --}}
                    <td> <a class="text-success" href="/me/stored/truyen-tranh/{{this.slug}}" >Chapter của {{this.title}}</a></td>
                    {{!--   videoId         --}}
                    <td></td>
                    {{!--   thời gian tạo   --}}
                    <td>{{this.createdAt}}</td>
                    {{!--   Sửa và xóa      --}}
                    <td>
                        <a href="" class="btn btn-link btn-restore" data-id="{{this.slug}}">Khôi phục</a>
                        <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this.slug}}" data-target="#delete-course-modal">
                            Xóa vĩnh viễn</a>
                    </td>
            </tr>

            {{else}}

            <tr>
                <td colspan="7" class="text-center">                
                <a href="/me/store/truyen-tranh">Đăng truyện tại đây</a>
                </td>
            </tr>

            {{/each }}
            
        </tbody>
    </table>
    
    
</div>

    {{!-- Confirm delete course --}}
    <div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học !!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục lại dữ liệu.
                    Bạn chắc chắn muốn xóa khóa học này ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">
                    Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Hủy</button>
            </div>
            </div>
        </div>
    </div>

    {{!-- hidden form to delete or PATCH stuff --}}
    <form name="hidden-form-delete" method="POST"></form>
    <form name="hidden-form-restore" method="POST"></form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var courseSlug;
            var hiddenFormDelete = document.forms['hidden-form-delete'];
            var hiddenFormRestore = document.forms['hidden-form-restore'];
            var btnDeleteCourse = document.getElementById('btn-delete-course');
            var restoreBtn = $('.btn-restore');

            // addEventListener để cho jquerry tải xong trên bộ nhớ trước
            // đảm bảo các funtion sau đó k chạy trước
            
            //show cái modal ra
            $('#delete-course-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); 
                //bấm vào button lưu id vào courseSlug từ button-data bên trên
                courseSlug = button.data('id');
            })
   
            //Khi bấm vào nút xóa thì hiddenform action = "/courses/{{courseSlug}}/?_method=DELETE"
            // sau khi chỉnh xong action thì hiddenFormDelete sẽ submit ra đường dẫn bên trên
            // từ phần route: thư mục index: /course --> delete / :id --> .destroy(controller)
            btnDeleteCourse.onclick = function() {
                hiddenFormDelete.action ='/courses/' + courseSlug + '/force?_method=DELETE';
                hiddenFormDelete.submit();
            }

            //restore
            restoreBtn.click(function(event) {
                event.preventDefault();
                //Bấm nút 'khôi phục' lấy được id
                var courseRestoreId = $(this).data('id');
                //submit lên action bằng route dưới truyền vào controller khớp phương thức PATCH
                //rồi thực hiện hàm restore
                hiddenFormRestore.action ='/courses/' + courseRestoreId + '/restore?_method=PATCH';
                hiddenFormRestore.submit();
            });

        });
         function goBack() {
                window.history.back();
            }
    </script>