
<head>
    <meta charset="UTF-8">
    <title>Dore jQuery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="/css/vendor/bootstrap-float-label.min.css" />
    
</head>

<body id="app-container" class="menu-default show-spinner">

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Edit Comic</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="#">Pages</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/me/stored/comics/comic-list">All Comics</a>
                            </li>
                            {{#each manga}}
                            <li class="breadcrumb-item active" aria-current="page">
                               {{this.title}}
                            </li>
                            {{/each}}
                            
                        </ol>
                    </nav>
                    <div class="separator mb-5"></div>

                    <div class="row">
                        <div class="col-12 col-md-12 col-xl-4 col-left">
                            <div class="card pb-3 mb-4 w-lg-100">
                                 <div class="card-img-top p-xl-3 p-5">
                                    {{#each manga}}
                                        {{#each this.thumbnail}}
                                            <img src="{{this.url}}"alt="img" width="100%" height="auto">
                                            {{else}}
                                            <div class="m-3 alert alert-warning alert-dismissible fade show rounded mb-0" role="alert">
                                                <strong>Bạn chưa upload Thumbnail</strong>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {{/each}} 
                                    
                                    {{!-- <div class="separator mb-5"></div> --}}
                                    <div class="d-none m-3 alert alert-success alert-dismissible fade show  mb-0" role="alert">
                                        <strong>Cập nhập thumbnail thành công !!</strong>
                                        <p>Vui lòng load lại Page</p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <h5 class="mt-4 mr-1 d-block text-center font-weight-bold">
                                        <i class="simple-icon-cloud-upload mt-3 mr-2"></i>
                                        <strong> Upload Thumbnail</strong>
                                    </h5>

                                    {{!-- Dropzone Form upload --}}
                                    <div class="card-body position-relative">
                                            <form class="dropzone" action="/me/stored/comics/{{this.slug}}/single-upload" id="buldUploadForm" method="POST" enctype="multipart/form-data">
                                            <div class="dz-clickable" id="uploadDropzone">
                                                <div class="dz-default dz-message" data-dz-message>
                                                    <span>Drop 1 image here to upload</span>
                                                </div>
                                            
                                            </div>
                                            
                                            <input class="btn btn-primary dropzone-submit-btn" name="single-file" type="submit"  
                                            id="submitDropzonebtn" value="Upload Images" />
                                            
                                        </form> 
                                    </div> {{!-- /Dropzone Form upload --}}

                                </div>
                            </div>
                        </div>
                         <div class="col-12 col-md-12 col-xl-8 col-right">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h3 class="mb-4"><strong> Edit Comic </strong></h3>

                                    {{!-- form --}}
                                    <form method="POST" action="/me/stored/comics/{{this.slug}}?_method=PUT ">
                                        <label class="form-group has-float-label">
                                            <input class="form-control" id="title" name="title" 
                                                value="{{this.title}}"/>
                                            <span>Tên truyện</span>
                                        </label>
                                    
                                        <label class="form-group has-float-label">
                                            <input data-role="tagsinput" type="text" id="tags" name="tags"
                                                value="">
                                            <span>Tags</span>
                                        </label>
                                    
                                        <label class="form-group has-float-label">
                                            <textarea class="form-control datepicker" id="description" name="description"
                                                value=""> {{this.description}}  </textarea>
                                            <span>Mô tả</span>
                                        </label>
                                    
                                        <div class="form-row mb-4 ml-1">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"value="">
                                                <label class="custom-control-label" for="customRadio1">
                                                    Publish
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio ml-4">
                                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">
                                                    UnPublish
                                                </label>
                                            </div>
                                        </div>
                                    
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">Translator</label>
                                                <input type="text" class="form-control" id="inputCity">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputState">Badge</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>None</option>
                                                    <option>Mới</option>
                                                    <option>Hot</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row mb-4 ml-1">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio1">
                                                    Đang tiến hành
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio ml-4">
                                                <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">
                                                    Hoàn thành
                                                </label>
                                            </div>
                                        </div>
                                         <button type="submit" class="btn btn-block btn-primary default mb-1 mx-auto d-block ">
                                            Áp dụng</button>
                                    </form>  {{!-- /form --}}
                                {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    
    {{!-- Bootstrap JS --}}
    <script src="/js/vendor/jquery-3.3.1.min.js"></script>
    {{!-- <script src="/js/vendor/select2.full.js"></script> --}}
    
    
</body>
<script >
    $(document).ready(function () {
    if ($().dropzone && !$(".dropzone").hasClass("disabled")) {
        Dropzone.autoDiscover = false;


        var submitDropzonebtn = document.getElementById('submitDropzonebtn');
        var myDropzone = new Dropzone('#buldUploadForm', {
            paramName: 'single-file',
            autoProcessQueue: false,
            maxFiles: 1,
            acceptedFiles: 'image/*',
            dictMaxFilesExceeded: 'fail',
            init: function () {
                var myDropzone = this;
                $("#buldUploadForm").submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });
                this.on("success", function (file, responseText) {
                    console.log(responseText);
                    $(".alert-success").toggleClass('d-none')
                    //setTimeout(function () { location.reload(true); }, 5000);
                });
            },
            thumbnailWidth: 160,
            previewTemplate: '<div class="dz-preview dz-file-preview mb-3"><div class="d-flex flex-row "><div class="p-0 w-30 position-relative"><div class="dz-error-mark"><span><i></i></span></div><div class="dz-success-mark"><span><i></i></span></div><div class="preview-container"><img data-dz-thumbnail class="img-thumbnail border-0" /><i class="simple-icon-doc preview-icon" ></i></div></div><div class="pl-3 pt-2 pr-2 pb-1 w-70 dz-details position-relative"><div><span data-dz-name></span></div><div class="text-primary text-extra-small" data-dz-size /><div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div><div class="dz-error-message"><span data-dz-errormessage></span></div></div></div><a href="#/" class="remove" data-dz-remove><i class="glyph-icon simple-icon-trash"></i></a></div>'
        });
        /*myDropzone.on("complete", function (file) {
               myDropzone.removeFile(file);
           });*/

    }
});
</script>