

<head>
    <title>Dore jQuery</title>
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> --}}

</head>

<body id="app-container" class="menu-default show-spinner">
    
    <form name="container-form" method="POST" action="/me/stored/handle-form-action-for-comics" 
    class="mt-4">
    <main>
        <div class="container-fluid disable-text-selection">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <h1>Comics List</h1>
                        <div class="text-zero top-right-button-container">
                            
                            <div class="btn-group">

                                <div class="btn btn-primary btn-lg pl-4 pr-0 check-button">
                                    <label class="custom-control custom-checkbox mb-0 d-inline-block" aria-label="checkboxall">
                                        <input type="checkbox" class="custom-control-input" 
                                        id="checkAll">
                                        <span class="custom-control-label">&nbsp;</span>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <select class="custom-select" id="inputGroupSelect04" name="action" aria-label="inputGroupSelect04">
                                        <option selected>Chọn hành động...</option>
                                        <option value="delete">Xóa</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-sm " id="multifunctionButton"
                                         data-target="#delete-multi">Áp dụng</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Pages</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">All Comics</li>
                            </ol>
                        </nav>

                    </div>

                    <div class="mb-2">
                        <a class="display-text pb-2 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                            role="button" aria-expanded="true" aria-controls="displayOptions">
                            Display Options
                            <i class="simple-icon-arrow-down align-middle"></i>
                        </a>
                        <div class="collapse d-md-block" id="displayOptions">
                            
                            {{!-- <span class="mr-3 mb-2 d-inline-block float-md-left">
                                <a href="#" class="mr-2 view-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg" d="M17.5,3H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg" d="M17.5,10H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg" d="M17.5,17H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                    </svg>
                                </a>
                                <a href="#" class="mr-2 view-icon active">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg" d="M17.5,3H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg"
                                            d="M3,2V3H1V2H3m.12-1H.88A.87.87,0,0,0,0,1.88V3.12A.87.87,0,0,0,.88,4H3.12A.87.87,0,0,0,4,3.12V1.88A.87.87,0,0,0,3.12,1Z" />
                                        <path class="view-icon-svg"
                                            d="M3,9v1H1V9H3m.12-1H.88A.87.87,0,0,0,0,8.88v1.24A.87.87,0,0,0,.88,11H3.12A.87.87,0,0,0,4,10.12V8.88A.87.87,0,0,0,3.12,8Z" />
                                        <path class="view-icon-svg"
                                            d="M3,16v1H1V16H3m.12-1H.88a.87.87,0,0,0-.88.88v1.24A.87.87,0,0,0,.88,18H3.12A.87.87,0,0,0,4,17.12V15.88A.87.87,0,0,0,3.12,15Z" />
                                        <path class="view-icon-svg"
                                            d="M17.5,10H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg"
                                            d="M17.5,17H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" /></svg>
                                </a>
                                <a href="#" class="mr-2 view-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg"
                                            d="M7,2V8H1V2H7m.12-1H.88A.87.87,0,0,0,0,1.88V8.12A.87.87,0,0,0,.88,9H7.12A.87.87,0,0,0,8,8.12V1.88A.87.87,0,0,0,7.12,1Z" />
                                        <path class="view-icon-svg"
                                            d="M17,2V8H11V2h6m.12-1H10.88a.87.87,0,0,0-.88.88V8.12a.87.87,0,0,0,.88.88h6.24A.87.87,0,0,0,18,8.12V1.88A.87.87,0,0,0,17.12,1Z" />
                                        <path class="view-icon-svg"
                                            d="M7,12v6H1V12H7m.12-1H.88a.87.87,0,0,0-.88.88v6.24A.87.87,0,0,0,.88,19H7.12A.87.87,0,0,0,8,18.12V11.88A.87.87,0,0,0,7.12,11Z" />
                                        <path class="view-icon-svg"
                                            d="M17,12v6H11V12h6m.12-1H10.88a.87.87,0,0,0-.88.88v6.24a.87.87,0,0,0,.88.88h6.24a.87.87,0,0,0,.88-.88V11.88a.87.87,0,0,0-.88-.88Z" />
                                    </svg>
                                </a>
                            </span> --}}
                            <div class="container-flex d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-center position-relative">
                                    <a href="/me/stored/comics/create">
                                    <button type="button" class="btn btn-primary mb-1 " style="color: white;">Tạo truyện</button>
                                    </a>
                                    <div class="search-sm d-inline-block  ml-3 mb-1 align-top">
                                        <input class="w-100" placeholder="Search..."> 
                                    </div>
                                </div>
                                
                               
                            </div>
                            
                        </div>
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>

       
            <div class="row">

                {{!-- <div class="align-self-center ml-3 mb-5">
                    <span class="text-muted text-small ">Displaying 1-10 of 210 items </span>
                    <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expand ed="false">
                        20
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">10</a>
                        <a class="dropdown-item active" href="#">20</a>
                        <a class="dropdown-item" href="#">30</a>
                        <a class="dropdown-item" href="#">50</a>
                        <a class="dropdown-item" href="#">100</a>
                    </div>
                </div> --}}

                <div class="col-12 list" data-check-all="checkAll">
                {{#each comics}}
                    
                    <div class="card d-flex flex-row mb-3">
                        <a class="d-flex" href="/me/stored/comics/{{this.slug}}/edit" aria-label="{{this.slug}}">
                            {{#each thumbnail}}
                            <img data-bg="{{this.url}}"
                                class="shadow-img list-thumbnail responsive border-0 card-img-left my-thumb-style"></img>
                            {{else}}
                             <img src="/img/goose-breast-thumb.jpg" alt="Chưa có thumbnail"
                                class="shadow-img list-thumbnail responsive border-0 card-img-left my-thumb-style" />
                            {{/each}}
                        </a>
                        <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                            <div
                                class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <a href="/me/stored/comics/{{this.slug}}/edit" class="w-40 w-sm-100">
                                    <p class="list-item-heading mb-0 truncate">{{this.title}}</p>
                                </a>
                                
                                <p class="mb-0 text-muted text-small w-15 w-sm-100 myPadding-top-sm">{{this.comicUpdateTime}}</p>
                                
                                {{!-- <p class="mb-0 text-muted text-small w-15 w-sm-100 myPadding-top-sm">Cupcakes</p>
                                <p class="mb-0 text-muted text-small w-15 w-sm-100 myPadding-top-sm">13.04.2018</p> --}}
  
                                 <div class="w-20 w-sm-100 d-flex social-menu myPadding-top-sm" style="justify-content: space-evenly;">
                                   
                                    <a aria-label="Copy ID" type="button" onclick="CompleteState('{{this._id}}'); copyToClipboard('{{this._id}}')"
                                     class="tooltipIcon copy-Btn" style="align-items: center;" >
                                        <div id="circle-loader_{{this._id}}" class="circle-loader"style="cursor: pointer;">
                                            <div id="checkmark_{{this._id}}" class="checkmark draw"></div>
                                        </div>
                                        <span id="{{this._id}}" class="tooltiptext" value="{{this._id}}">
                                             Copy ID</span>       
                                        <div class="icon-container">
                                            <i class="iconsminds-files" style="z-index: -1;"></i>
                                        </div>
                                    </a>
                                     <a aria-label="Chapter List" type="button" href="/me/stored/comics/{{this.slug}}/chapter-list" class="tooltipIcon">
                                        <span class="tooltiptext"> Chapter List </span>
                                        <div class="icon-container">
                                            <i class="simple-icon-layers" style="z-index: -1;"></i>
                                        </div>   
                                    </a>
                                      <a aria-label="Xóa" type="button" href="#" class="tooltipIcon" style="align-items: center;">
                                        <span class="tooltiptext"> Xóa </span>       
                                        <div class="icon-container" data-toggle="modal" data-id="{{this.slug}}" data-target="#delete-course-modal">
                                            <i class="simple-icon-trash" style="z-index: -1;"></i>
                                        </div>
                                    </a>
                                </div>
                               
                                {{!-- <div class="w-15 w-sm-100">
                                    <span class="badge badge-pill badge-primary">PROCESSED</span>
                                </div> --}}
                            </div>
                            {{!-- checkbox --}}
                            <label class="custom-control custom-checkbox mb-1 align-self-center pr-4" aria-label="checkbox">
                                <input type="checkbox" class="custom-control-input" name="comicSlug[]" 
                                value="{{this.slug}}">
                                <span class="custom-control-label" >&nbsp;</span>
                            </label>
                        </div>
                </div>
                {{/each}}
        </form>
                   


                    <nav class="mt-4 mb-3">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item ">
                                <a class="page-link first" href="#" aria-label="first">
                                    <i class="simple-icon-control-start" style="line-height: unset;"></i>
                                </a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link prev" href="#" aria-label="prev">
                                    <i class="simple-icon-arrow-left" style="line-height: unset;"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#" aria-label="active">1</a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link next" href="#" aria-label="Next">
                                    <i class="simple-icon-arrow-right" style="line-height: unset;"></i>
                                </a>
                            </li>
                            <li class="page-item ">
                                <a class="page-link last" href="#" aria-label="Last"> 
                                    <i class="simple-icon-control-end" style="line-height: unset;"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </main>
    
</body>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa truyện !!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa truyện này ?? </p>
                <p class="text-danger">Hành động này sẽ xóa tất cả chapter liên quan </p>
                <p class="text-danger"> Không thể hoàn tác lại nếu xóa!!</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">
                    Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- hidden form to delete stuff --}}
<form name="hidden-form" method="POST">

</form>

<script>
    /*--  Optimize Image --*/
        (() => {
            var clourdinary_name = 'dwajvm53v';
            const baseUrl = `https://res.cloudinary.com/${clourdinary_name}/image/fetch`

            Array.from(document.querySelectorAll('[data-bg]')).forEach(image => {
                const { clientWidth, clientHeight } = image
                const pixelRatio = window.devicePixelRatio || 1.0
                const imageParams = `w_${100 * Math.round(clientWidth * pixelRatio / 100)},h_${100 * Math.round(clientHeight * pixelRatio / 100)},q_auto,c_fill,f_auto`
                //,g_auto nhận diện tiêu điểm ảnh
                const url = `${baseUrl}/${imageParams}/${image.dataset.bg}`
                image.style.backgroundImage = `url('${url}')`
            })
        })() /*--  End Optimize Image --*/

    /*-- Lazy loader Image --*/

    const targets = document.querySelectorAll('div [data-bg]');
    console.log(targets)

    /*-- End Lazy loader Image --*/
        document.addEventListener('DOMContentLoaded', function() {
            var comicSlug;
            var hiddenForm = document.forms['hidden-form'];
            var btnDeleteCourse = document.getElementById('btn-delete-course');  

            //dựa vào show modal rồi lưu slug
            $('#delete-course-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); 
                //bấm vào button lưu id vào comicSlug từ button-data bên trên
                comicSlug = button.data('id');
            });
             btnDeleteCourse.onclick = function() {
                hiddenForm.action ='/me/stored/destroyComic/' + comicSlug + '?_method=DELETE';
                hiddenForm.submit();
            };  

        });
</script>

<script type="text/javascript">
    //Copy to Clipboard
    const copyToClipboard = str => {
        const el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    };
    //Circle loader Complete state
          const CompleteState = (id) => {
            var text = $('#' + id).text();
            if(text.replace(/\s/g,'') == "CopyID") {
                $('#' + id).text(text.replace('Copy ID', 'Success'))
            } else {
                $('#' + id).text(text.replace('Success', 'Copy ID'))
            }
            $('#circle-loader_' + id).toggleClass('load-complete');  
            $('#checkmark_' + id).toggle();
          };
    
</script>