<style>
    .img__PlaceholderLoader {
        height: auto;
        display: inline-block;
        vertical-align: top;
    }

    /* image__dummy image styles */
    .image__dummy {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
    }

    .image__dummy:before {
        content: '';
        position: absolute;
        background: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .image__dummy:after {
        content: attr(width) " x "attr(height);
        white-space: pre;
        color: #fff;
        text-align: center;
        display: block;
        position: absolute;
        width: 100%;
        top: calc(50% - .5em);
        font-size: 100%;
    }

    .image__dummy.image__dummy--alt:after {
        content: attr(image__dummy--alt);
    }

    .image {
        position: relative;
        background: url('/img/loading-placeholder.svg') center center no-repeat;
        background-size: 300px 100px;
        text-align: center;
    }

    .image__Frame {
        color: #fff;
        border-color: #000;
        border-image: initial;
        border-style: none;
        border-width: medium;
        height: auto;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: auto;
        z-index: 999;
        position: relative;
    }


    @media only screen and (max-width: 550px) {
        .image__Frame {
            width: 400px;
            min-height: 400px;
        }
    }


    @media only screen and (min-width: 550px) {
        .image__Frame {
            width: 700px;
            min-height: 700px;
        }
    }


    @media only screen and (min-width: 850px) {
        .image__Frame {
            width: 1000px;
            min-height: 1000px;
        }
    }
</style>

{{#each chapter.image}}
<div class="image">
    <picture>
        <source id="image--large" srcset="https://s3.eu-central-1.wasabisys.com/cloudimagewallbucket/{{this.url}}-large.jpg"
        media="(min-width: 1000px)" type="image/jpg" />
        <source id="image--medium" srcset="https://s3.eu-central-1.wasabisys.com/cloudimagewallbucket/{{this.url}}-medium.webp" 
        media="(min-width: 550px)" type="image/webp" />
        <source id="image--small" srcset="https://s3.eu-central-1.wasabisys.com/cloudimagewallbucket/{{this.url}}-small.webp" 
        media="(max-width: 550px)" type="image/webp" />

        <img src="https://s3.eu-central-1.wasabisys.com/cloudimagewallbucket/{{this.url}}-large.jpg"
            class="image__Frame" alt="image" onerror="this.onerror=null;this.src='/img/404.jpg';" />
    </picture>
</div>
{{/each }}

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            {{#if user}}
            <form id="postCommentForm" method="POST" onsubmit="return postComment(this);"
                enctype="application/x-www-form-urlencoded">
                <input class="form-control" name="userId" value="{{user._id}}" type="hidden"></input>
                <input class="form-control" name="userName" value="{{user.name}}" type="hidden"></input>
                <input class="form-control" name="chapter" value="{{chapter.chapter}}" type="hidden"></input>
                <input id="comicSlugInput" class="form-control" name="comicSlug" value="{{chapter.comicSlug}}"
                    type="hidden"></input>

                <div class="mb-3">
                    <label>Comment</label>
                    <textarea class="form-control" name="inputText" placeholder="Type something"></textarea>
                </div>
                <button type="submit" class="btn btn-block btn-primary default mb-1 mx-auto d-block ">
                    Post comment</button>
            </form>
            {{else}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bạn cần đăng nhập để comment</h5>
                    <a href="/users/login" class="btn btn-primary">Đăng nhập</a>
                    <a href="/users/register" class="btn btn-primary">Đăng Ký</a>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{!-- {{#each chapter.image}}
<div class="image">
    <img width="16" height="9" class="image__dummy image__dummy--alt image__Frame image--loader img__PlaceholderLoader"
        data-bg="{{this.url}}" onerror="this.onerror=null;this.src='/img/404.jpg';" alt="{{this.name}}">
</div>
{{/each}} --}}
{{#if commentArr}}
{{#each commentArr}}
<div id="comment-{{this._id}}">
<div id="comment__container" class="container mt-2">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    {{!-- Start delete comment form --}}
                    {{#ifCond this.userId '== (string)' ../user._id}}
                    <form id="destroyCommentForm" method="POST" onsubmit="return destroyComment(this);"
                        enctype="application/x-www-form-urlencoded">
                        <input class="form-control" name="comment_id" value="{{../this._id}}" type="hidden"></input>
                        <input class="form-control" name="comicSlug" value="{{../../chapter.comicSlug}}" type="hidden"></input>
                        <input class="form-control" name="chapter" value="{{../../chapter.chapter}}" type="hidden"></input>
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </form>
                    {{/ifCond}} {{!-- End delete comment form --}}
                    <div class="d-flex flex-row user-info">
                        <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2">
                            <span class="d-block font-weight-bold name">{{this.userName}}</span>
                            <span class="date text-black-50">Shared publicly - Jan 2020</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">{{this.text}}</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end row">
                    <div class="col-md-12" style="margin-top: -1rem;">

                        <div class="bg-white">
                            <div class="reply__parent d-flex flex-row fs-12">
                                <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span
                                        class="ml-1">Like</span></div>
                                <div id="replyBtn" class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span
                                        class="ml-1">Reply</span></div>
                                <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span>
                                </div>
                            </div>
                        </div>

                        {{!-- Display Reply --}}
                        <div id="reply__ofcomment-{{this._id}}"> 
                            {{#each reply}}
                            <div id="reply-{{this._id}}" class="container mt-2">
                                <div class="d-flex justify-content-end row">
                                    <div class="col-md-10">
                                        <div class="d-flex flex-column comment-section">
                                            <div class="bg-white p-2">
                                                {{!-- Start delete reply form --}}
                                                {{#ifCond this.userId '== (string)' ../../user._id}}
                                                <form id="destroyReplyForm" method="POST" onsubmit="return destroyReply(this);"
                                                    enctype="application/x-www-form-urlencoded">
                                                    <input name="reply_id" value="{{../this._id}}" type="hidden"></input>
                                                    <input name="comment_id" value="{{../../this._id}}" type="hidden"></input>
                                                    <input name="comicSlug" value="{{../../../chapter.comicSlug}}" type="hidden"></input>
                                                    <input name="chapter" value="{{../../../chapter.chapter}}" type="hidden"></input>
                        
                                                    <button type="submit" class="close" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </form>
                                                {{/ifCond}} {{!-- End delete reply form --}}
                                                <div class="d-flex flex-row user-info"><img class="rounded-circle"
                                                        src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                                    <div class="d-flex flex-column justify-content-start ml-2"><span
                                                            class="d-block font-weight-bold name">{{this.userName}}</span><span
                                                            class="date text-black-50">Shared publicly - Jan 2020</span>
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <p class="comment-text">{{this.text}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}} 
                        </div> {{!-- End Display Reply --}}
                        
                        {{#if ../user}}
                        <div id="replyBox" class="col-md-10 replyBox bg-light p-2 d-none" style="margin-left: auto;">
                            {{!-- Start Reply Form --}}
                            <form id="replyForm" method="POST" onsubmit="return postReply(this);"
                                enctype="application/x-www-form-urlencoded">
                                <input class="form-control" name="userId" value="{{../user._id}}" type="hidden"></input>
                                <input class="form-control" name="userName" value="{{../user.name}}"
                                    type="hidden"></input>
                                <input class="form-control" name="comment_id" value="{{this._id}}" type="hidden"></input>
                                <input class="form-control" name="chapter" value="{{../chapter.chapter}}"
                                    type="hidden"></input>
                                <input id="comicSlugInput" class="form-control" name="comicSlug"
                                    value="{{../chapter.comicSlug}}" type="hidden"></input>
                                <div class="d-flex flex-row align-items-start"><img class="rounded-circle"
                                        src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                    <textarea class="form-control" name="inputText" placeholder="Type something"
                                        class="form-control ml-1 shadow-none textarea"></textarea>
                                </div>
                                <div class="mt-2 text-right">
                                    <button type="submit" class="btn btn-primary btn-sm shadow-none">Reply
                                        comment</button>
                                    <button type="button"
                                        class="btn btn-outline-primary btn-sm ml-1 shadow-none">Cancel</button>
                                </div>
                            </form>
                        </div>
                        {{/if}}{{!-- End Reply Form --}}

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>

{{/each}}
{{/if}}

{{!-- Comment Template --}}
<script id="comment-template" type="text/x-handlebars-template">
<div id="comment__container" class="container mt-2">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    {{!-- Start delete comment form --}}
                    \{{#ifCond new_comment.userId '== (string)' new_comment.reqUserId}}
                    <form id="destroyCommentForm" method="POST" onsubmit="return destroyComment(this);"
                        enctype="application/x-www-form-urlencoded">
                        <input class="form-control" name="comment_id" value="\{{new_comment.comment_id}}" type="hidden"></input>
                        <input class="form-control" name="comicSlug" value="\{{new_comment.comicSlug}}" type="hidden"></input>
                        <input class="form-control" name="chapter" value="\{{new_comment.chapter}}" type="hidden"></input>
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </form>
                    \{{/ifCond}} {{!-- End delete comment form --}}
                    
                    <div class="d-flex flex-row user-info"><img class="rounded-circle"
                            src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span
                                class="d-block font-weight-bold name">\{{this.userName}}</span><span
                                class="date text-black-50">Shared publicly - Jan 2020</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">\{{new_comment.inputText}}</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end row">
                    <div class="col-md-12" style="margin-top: -1rem; padding:unset">
                        <div class="bg-white">
                            <div class="reply__parent d-flex flex-row fs-12">
                                <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span
                                        class="ml-1">Like</span></div>
                                <div id="replyBtn" class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span
                                        class="ml-1">Reply</span></div>
                                <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span>
                                </div>
                            </div>
                        </div>
                       {{!-- Display Reply --}}
                        <div id="reply__ofcomment-{{this._id}}">
                        </div>
                        \{{#if new_comment.reqUserId }}
                        <div id="replyBox" class="col-md-10 replyBox bg-light p-2 d-none" style="margin-left: auto;">
                            {{!-- Start Reply Form --}}
                            <form id="replyForm" method="POST" onsubmit="return postReply(this);"
                                enctype="application/x-www-form-urlencoded">
                                <input class="form-control" name="userId" value="\{{../user._id}}"
                                    type="hidden"></input>
                                <input class="form-control" name="userName" value="\{{../user.name}}"
                                    type="hidden"></input>
                                <input class="form-control" name="comment_id" value="\{{this._id}}"
                                    type="hidden"></input>
                                <input class="form-control" name="chapter" value="\{{../chapter.chapter}}"
                                    type="hidden"></input>
                                <input id="comicSlugInput" class="form-control" name="comicSlug"
                                    value="\{{../chapter.comicSlug}}" type="hidden"></input>
                                <div class="d-flex flex-row align-items-start"><img class="rounded-circle"
                                        src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                    <textarea class="form-control" name="inputText" placeholder="Type something"
                                        class="form-control ml-1 shadow-none textarea"></textarea>
                                </div>
                                <div class="mt-2 text-right">
                                    <button type="submit" class="btn btn-primary btn-sm shadow-none">Reply
                                        comment</button>
                                    <button type="button"
                                        class="btn btn-outline-primary btn-sm ml-1 shadow-none">Cancel</button>
                                </div>
                            </form>
                        </div>
                        \{{/if}}{{!-- End Reply Form --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
{{!-- End comment template --}}

{{!-- reply Template --}}
<script id="reply-template" type="text/x-handlebars-template">
<div id="reply-\{{new_reply.reply_id}}" class="container mt-2">
    <div class="d-flex justify-content-end row">
        <div class="col-md-10">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    {{!-- Start delete reply form --}}
                    \{{#ifCond new_reply.userId '== (string)' new_reply.reqUserId}}
                    <form id="destroyReplyForm" method="POST" onsubmit="return destroyReply(this);"
                        enctype="application/x-www-form-urlencoded">
                        <input name="reply_id" value="\{{new_reply.reply_id}}" type="hidden"></input>
                        <input name="comment_id" value="\{{new_reply.comment_id}}" type="hidden"></input>
                        <input name="comicSlug" value="\{{new_reply.comicSlug}}" type="hidden"></input>
                        <input name="chapter" value="\{{new_reply.chapter}}" type="hidden"></input>

                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                    \{{/ifCond}} {{!-- End delete reply form --}}
                    <div class="d-flex flex-row user-info"><img class="rounded-circle"
                            src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span
                                class="d-block font-weight-bold name">\{{new_reply.userName}}</span><span
                                class="date text-black-50">Shared publicly - Jan 2020</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">\{{new_reply.inputText}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
\{{#if new_comment.reqUserId}}
<div id="replyBox" class="col-md-10 replyBox bg-light p-2 d-none" style="margin-left: auto;">
    {{!-- Start Reply Form --}}
    <form id="replyForm" method="POST" onsubmit="return postReply(this);" enctype="application/x-www-form-urlencoded">
        <input class="form-control" name="userId" value="\{{../user._id}}" type="hidden"></input>
        <input class="form-control" name="userName" value="\{{../user.name}}" type="hidden"></input>
        <input class="form-control" name="comment_id" value="\{{this._id}}" type="hidden"></input>
        <input class="form-control" name="chapter" value="\{{../chapter.chapter}}" type="hidden"></input>
        <input id="comicSlugInput" class="form-control" name="comicSlug" value="\{{../chapter.comicSlug}}"
            type="hidden"></input>
        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg"
                width="40">
            <textarea class="form-control" name="inputText" placeholder="Type something"
                class="form-control ml-1 shadow-none textarea"></textarea>
        </div>
        <div class="mt-2 text-right">
            <button type="submit" class="btn btn-primary btn-sm shadow-none">Reply
                comment</button>
            <button type="button" class="btn btn-outline-primary btn-sm ml-1 shadow-none">Cancel</button>
        </div>
    </form>
</div>
\{{/if}}{{!-- End Reply Form --}}                      
</script>
{{!-- End reply template --}}


{{!-- Confirm delete comment --}}
{{!-- <div id="delete-reply-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa Reply !!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa Reply này ?? </p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-reply" type="button" class="btn btn-danger">
                    Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Hủy</button>
            </div>
        </div>
    </div>
</div>  --}}
{{!-- hidden form to delete reply --}}
{{!-- <form id="hidden-reply-form" name="hidden-form" method="POST">
    <input name="reply_id" type="hidden"></input>
    <input name="comment_id" type="hidden"></input>
    <input name="comicSlug" type="hidden"></input>
    <input name="chapter" type="hidden" value="{{chapter.chapter}}"></input>
</form> --}}

{{!-- ReqUser_id --}}
<input type="hidden" name="input__ReqUserId" value="{{user._id}}">

<script src="/js/imagesLoader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
    $(document).ready(function () {

        /* Socket io */
        var socket = io()
        Handlebars.registerHelper('ifCond', function (a, operator, b, options) {
            switch (operator) {
                case '== (string)':
                    a = (!a) ? null : a.toString()
                    b = (!b) ? null : b.toString()
                    return (a == b) ? options.fn(this) : options.inverse(this);
                case '==':
                    return (a == b) ? options.fn(this) : options.inverse(this);
                case '===':
                    return (a === b) ? options.fn(this) : options.inverse(this);
                case '!=':
                    return (a != b) ? options.fn(this) : options.inverse(this);
                case '!==':
                    return (a !== b) ? options.fn(this) : options.inverse(this);
                case '<':
                    return (a < b) ? options.fn(this) : options.inverse(this);
                case '<=':
                    return (a <= b) ? options.fn(this) : options.inverse(this);
                case '>':
                    return (a > b) ? options.fn(this) : options.inverse(this);
                case '>=':
                    return (a >= b) ? options.fn(this) : options.inverse(this);
                case '&&':
                    return (a && b) ? options.fn(this) : options.inverse(this);
                case '||':
                    return (a || b) ? options.fn(this) : options.inverse(this);
                default:
                    return options.inverse(this);
            }
        })

        /* End Socket io */

        /* Variables */
        var $reqUserId = $("input[type=hidden][name=input__ReqUserId]").val()
        console.log($reqUserId)
        var slug = $('#comicSlugInput').val()
        var replyBtn = $('[id=replyBtn]')
        var hiddenForm = document.forms['hidden-form'];
        var hiddenReplyForm = document.forms['hidden-reply-form'];
        var btnDeleteComment = document.getElementById('btn-delete-comment');
        var btnDeleteReply = document.getElementById('btn-delete-reply');
        var html = ''
        var templateObj = new Object()
        /* Variables */

        /* socket client catch */
        socket.on('new_comment', formData => {
            console.log(formData)
            formData['reqUserId'] = $reqUserId
            var source = document.getElementById("comment-template").innerHTML;
            var renderTemplate = Handlebars.compile(source);
            templateObj['new_comment'] = formData
            html = renderTemplate(templateObj);
            console.log(html)
            $('#comment__container').prepend(html)
        })
        socket.on('new_reply', formData => {
            console.log(formData)
            formData['reqUserId'] = $reqUserId
            var source = document.getElementById("reply-template").innerHTML;
            var renderTemplate = Handlebars.compile(source);
            templateObj['new_reply'] = formData
            html = renderTemplate(templateObj);
            console.log(html)
            $(`#reply__ofcomment-${formData.comment_id}`).append(html)
        })
        socket.on('delete_comment', formData => {
            $(`#comment-${formData.comment_id}`).remove()
        })
        socket.on('delete_reply', formData => {
            $(`#reply-${formData.reply_id}`).remove()
        })
        /* End socket client catch */

        /* Start reply display */
        replyBtn.on('click', function (e) {
            var $thisReplyBox = $(e.target).parents(":eq(2)").siblings('#replyBox')
            $thisReplyBox.toggleClass('d-none')
            $('div#replyBox').each(function () {
                var $allReplyBox = $(this);
                $allReplyBox.not($thisReplyBox).addClass('d-none');
            });
        }) /* End reply display */



        /* Start POST comment */
        window.postComment = function (form) {
            var formData = {
                userId: form.userId.value,
                userName: form.userName.value,
                inputText: form.inputText.value,
                comicSlug: form.comicSlug.value,
                chapter: form.chapter.value,
            }
            $.ajax({
                type: "POST",
                url: `/comic/comment`,
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    formData.comment_id = response.comment_id

                    /* console.log(formData) */

                    socket.emit('new_comment', formData)
                }
            })
            return false;
        }; /* End POST comment */



        /* Start POST reply */
        window.postReply = function (form) {
            var formData = {
                userId: form.userId.value,
                userName: form.userName.value,
                comment_id: form.comment_id.value,
                inputText: form.inputText.value,
                comicSlug: form.comicSlug.value,
                chapter: form.chapter.value,
            }
            $.ajax({
                type: "POST",
                url: `/comic/reply`,
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    formData.reply_id = response.reply_id

                    /* console.log(formData) */

                    socket.emit('new_reply', formData) //Check new_reply
                }
            })
            return false;
        }; /* End POST reply */



        /* Start destroy comment */
        window.destroyComment = function (form) {
            var formData = {
                comment_id: form.comment_id.value,
                comicSlug: form.comicSlug.value,
                chapter: form.chapter.value
            }
            if (confirm("Bạn chắc chắn muốn xóa comment này ?")) {
                $.ajax({
                    type: "POST",
                    url: `/comic/comment/destroyComment?_method=DELETE`,
                    data: JSON.stringify(formData),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        socket.emit('delete_comment', formData)
                    }
                })
            }
            return false;
        }; /* End destroy comment */



        /* Start destroy reply */
        window.destroyReply = function (form) {
            var formData = {
                reply_id: form.reply_id.value,
                comment_id: form.comment_id.value,
                comicSlug: form.comicSlug.value,
                chapter: form.chapter.value
            }
            if (confirm("Bạn chắc chắn muốn xóa Reply này ?")) {
                $.ajax({
                    type: "POST",
                    url: `/comic/comment/destroyReply?_method=DELETE`,
                    data: JSON.stringify(formData),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        socket.emit('delete_reply', formData)
                    }
                })
            }
            return false;
        }; /* End destroy reply */






        /* Start Reply Delete Form 
        $('#delete-reply-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            reply_id = button.data('reply_id');
            comment_id = button.data('comment_id');
            comicSlug = button.data('comicslug');
            chapter = button.data('chapter');
            $('input[name="reply_id"]').val(reply_id);
            $('input[name="comment_id"]').val(comment_id);
            $('input[name="comicSlug"]').val(comicSlug);
            $('input[name="chapter"]').val(chapter);
        });
        btnDeleteReply.onclick = function () {
            destroyReply()
        };

        function destroyReply() {
            var formData = {};
            $("#hidden-reply-form").serializeArray().forEach(function (element) {
                formData[element.name] = element.value;
            });
            $.ajax({
                type: "POST",
                url: `/comic/comment/destroyReply?_method=DELETE`,
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert(response)
                }
            })
            return false;
        };  End Reply Delete Form */
    });
</script>