<form name="container-form" method="POST" action="/manga/handle-form-action" 
class="mt-4">
    <div class="container">
        <div class="row ml-3">
        <a class="btn btn-info mb-4 row" onclick="goBack()" role="button" style="color: white;">Quay lại</a>
        </div>
        
        {{#each (limit chapters 1)}}
            <h3 class="row">Tất cả chapter của {{this.chaptername}}</h3>
            
            <div class="row ">
                <a> Kho truyện tranh</a>
                <a class="ml-3"> <span class="fa pr-2">&#xf101</span> Kho Chapter</a>
            </div>
            
        {{/each}}
        <div class="mt-4 d-flex align-items-center">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox-all">
                <label class="custom-control-label" for="checkbox-all">
                    Chọn tất cả</label>
            </div>

            <select class="custom-select custom-select-sm checkbox-select-all-options selectAllBox" 
            name="action" required="required" >
                <option value=""> Chọn hành động</option>
                <option value="delete">Xóa</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <button class="btn btn-primary btn-sm disabled-btn " id="multifunctionButton" 
            disabled="disabled" data-target="#delete-multi">Áp dụng</button>
        </div>

    </div>
    
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"  colspan="2">#</th>
                {{!-- <th scope="col">Tên chapter của truyện</th> --}}
                <th scope="col" >Chapter</th>
                {{!-- <th scope="col">VideoID</th> --}}
                <th scope="col"  colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each chapters}}
            {{!-- {{#unless this.noChapters}} --}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="chapterSlug[]" value="{{this.slug}}">
                    </div>
                </td>
                {{!-- mySum a + b --}}
                <th scope="row">{{mySum @index 1}}</th>
                {{!--   tên truyện      --}}
                     
                {{!--   chapter       --}}
                <td><a href="/manga/{{this.chaptername}}/{{this.chapter}}">{{this.chapter}}</a></td>           
                {{!--   thời gian tạo   --}}
                <td>{{this.createdAt}}</td>
                {{!--   Sửa và xóa      --}}
                <td>
                    <a href="#" class="btn btn-link" data-toggle="modal" data-id="{{this.slug}}" data-target="#delete-course-modal">
                        Xóa</a>
                </td>
            </tr>
           
            {{else}}
            <tr>
                <td colspan="5" class="text-center"> Bạn chưa đăng chapter nào hết!!                   
                <a href="/me/stored/manga">Quay lại kho Truyện</a>
                </td>
            </tr>
            {{!-- {{/unless}} --}}
            {{/each }}
        </tbody>
    </table>
</form>

    {{!-- Confirm delete course --}}
    <div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa Chapter truyện !!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn chắc chắn muốn xóa chapter này ?? </p>
                    <p class="text-danger"> Không thể hoàn tác lại nếu xóa!!</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-course" type="button" class="btn btn-danger">
                        Xóa bỏ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Hủy</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- hidden form to delete stuff --}}
    <form name="hidden-form" method="POST">

    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var chapterSlug, isChecked;
            var hiddenForm = document.forms['hidden-form'];
            var btnDeleteCourse = document.getElementById('btn-delete-course');
            var btnDeleteMulti= document.getElementById('multifunctionButton');
            var checkboxAll = $('#checkbox-all'); 
            var courseItemCheckbox = $('input[name="chapterSlug[]"]');
            var disabledBtn = $('.disabled-btn');
            var containerForm = document.forms['container-form'];
            var selectAllBox = $('.selectAllBox');
            
            //addEventListener để cho jquerry tải xong trên bộ nhớ trước
            // đảm bảo các funtion sau đó k chạy trước
            
            //show cái modal ra
            $('#delete-course-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); 
                //bấm vào button lưu id vào chapterSlug từ button-data bên trên
                chapterSlug = button.data('id');
            })
   
            //Khi bấm vào nút xóa thì hiddenform action = "/manga/{{chapterSlug}}/?_method=DELETE"
            // sau khi chỉnh xong action thì hiddenform sẽ submit ra đường dẫn bên trên
            // từ phần route: thư mục index: /course --> delete / :id --> .destroy(controller)
            btnDeleteCourse.onclick = function() {
                hiddenForm.action ='/manga/' + chapterSlug + '?_method=DELETE';
                hiddenForm.submit();
            }

            //checkbox all
            checkboxAll.change(function() {
                //check vào là true, uncheck là false
                var isCheckedAll = $(this).prop('checked');
                if(isCheckedAll)
                    courseItemCheckbox.prop('checked', true);
                else
                courseItemCheckbox.prop('checked', false);
            renderCheckAllSubmitBtn();
            });

                

            // checkbox is_changed
            courseItemCheckbox.change(function() {
                //kiemtra xem length của Checkbox hiện tại có bằng chính nó k, cả 2 =thì true
                var isCheckedAll = courseItemCheckbox.length === $('input[name="chapterSlug[]"]:checked').length;
                if(isCheckedAll)
                    checkboxAll.prop('checked', true)
                else
                    checkboxAll.prop('checked', false)
                renderCheckAllSubmitBtn();
                });

         
            // hàm chuyển nút áp dụng thành enable
            function renderCheckAllSubmitBtn() {
                var checkedCount =  $('input[name="chapterSlug[]"]:checked').length;
                if(checkedCount > 0)
                    disabledBtn.attr('disabled', false); //gở disabled đi
                else
                    disabledBtn.attr('disabled', true);  //thêm disabled vào               
            }
    
            //console.log(selectAllBoxValue);
        });

         function goBack() {
                window.history.back();
            }
    </script>